.back-arrow {
  pointer-events: auto;

  @include for-tablet-portrait-down {
    left: 5%;
  }
}

.back-arrow-body {
  border-bottom: 2px solid black;
  width: 50px;
}

.back-arrow-head {
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  height: 10px;
  width: 10px;
}

.back-arrow-container {
  height: 50px;
  width: max-content;
  @include for-tablet-portrait-down {
    left: 30px;
  }
}
