.back-arrow {
  position: fixed;
  top: 0;
  left: 2%;

  @include for-tablet-portrait-down {
    left: 5%;
  }
}

.back-arrow-body {
  position: absolute;
  border-bottom: 2px solid black;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.back-arrow-head {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  height: 10px;
  width: 10px;
}

.back-arrow-container {
  height: 50px;
  @include for-tablet-portrait-down {
    left: 30px;
  }
}
