.side-panel {
  width: 35vw;
  // border-right: 1px solid lightgray;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  height: 100vh;
  padding: 3rem;
  @include for-tablet-portrait-down {
    width: 20vw;
    padding: 0.5rem;
  }
}
