.sticky-note {
  // width: 150px;
  // font-size: 0.1rem;
  // font-size: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 5px 15px 5px 15px;
  line-height: 1.4;
}

.reference-sticky-note {
  padding: 2px ;
  & p {
    margin-top: 0;
  }
}

.sticky-shadow {
  position: relative;
}

.sticky-shadow:before {
  position: absolute;
  box-shadow: -2px 14px 10px -8px rgba(0,0,0,0.6);
  z-index: -1;
  content: "";
  top: 50%;
  left: 50%;
  width: 88%;
  height: 88%;
  transform: rotate(1.5deg) translateX(-50%) translateY(-50%) skewX(2deg) skewY(-8deg);
}
