@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.full-size {
  height: 100vh;
  width: 100vw;
}

.margins {
  margin: 50px 10% 0 10%;
  @include for-tablet-portrait-down {
    margin: 50px 0 6% 0 6%;
  }
}

.page-size {
  width: 50vw;
}

.page-padding {
  box-sizing: border-box;
  padding: 2rem;
}

.no-bullets li {
  list-style-type: none;
}

.less-indented {
  padding-left: 1.2rem;
}

.ul-margin-bottom {
  margin-bottom: 3rem;
}

.li-margin-bottom li {
  margin-bottom: 0.3rem;
}

.blue-text {
  color: #1255CC;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.w-100 {
  width: 100%;
}

.bg-white {
  background-color: rgba(255,255,255,0.8);
}

.z-5 {
  z-index: 5;
}

