.porn-page {
  position: relative;
  touch-action: none;
}

// .porn-loading-image {
//   height: 150px;
//   position: absolute;
//   left: 100px;
//   // transform: scale(0.5);
// }

// .sex-race-and-colonies {
//   position: absolute;
//   left: 100px;
//   bottom: 30px;
//   // transform: scale(0.5);
// }

// .my-body-my-rules {
//   height: 100px;
//   position: absolute;
//   // // left: 30%;
//   // transform: scale(0.5);
//   // bottom: 6%;
// }

.porn-navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
