.porn-loading-image {
  height: 150px;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.sex-race-and-colonies {
  position: absolute;
  left: 5%;
  bottom: -10%;
  transform: scale(0.5);
}

.my-body-my-rules {
  height: 250px;
  position: absolute;
  left: 30%;
  bottom: 6%;
}
