@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Poppins:ital,wght@0,400;1,100;1,200;1,300;1,400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

$green: #45CB85;

body {
  // font-family: Helvetica, Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
}

a,
p,
h1,
h2,
h3,
h4,
li {
  // font-family: Helvetica, Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

a {
  text-decoration: none;
  // color: $green;
  color: black;
}

h2 {
  font-size: 1.2rem;
}

li {
  font-style: italic;
  font-weight: 200;
  line-height: 1.4rem;
  font-size: 1.4rem;
}

p {
  font-size: 0.8rem;
}


/*Width Breakpoints*/
@mixin for-phone-down {
  @media (max-width: 575px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 576px) { @content; }
}

@mixin for-tablet-portrait-down {
  @media (max-width: 767px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 768px) { @content; }
}

@mixin for-tablet-landscape-down {
  @media (max-width: 991px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 992px) { @content; }
}

@mixin for-desktop-down {
  @media (max-width: 1199px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1200px) { @content; }
}
