.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.text-centered {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.word-wrap {
  word-wrap: break-word;
}
